<%= link_to "戻る", hiraganas_path, class: "link link-neutral" %>
<%= render 'shared/swiper_styles' %>

<div class="swiper-container max-w-4xl w-full">
  <div class="swiper-wrapper">
    <% @sign_languages.each do |sign_language| %>
      <div class="swiper-slide flex flex-col justify-center items-center">
        <% if sign_language.yubimoji.end_with?('.png') %>
          <%= image_tag sign_language.yubimoji, alt: "#{sign_language.character}の指文字", class: "swiper-image rounded-lg" %>
        <% elsif sign_language.yubimoji.end_with?('.mp4') %>
          <video muted onended="handleVideoEnd(this)" class="swiper-video rounded-lg">
            <source src="<%= asset_path(sign_language.yubimoji) %>" type="video/mp4">
            お使いのブラウザは動画の再生をサポートしていません。
          </video>
        <% end %>
        <p class="mt-2 text-2xl text-center sign-language-text"><%= sign_language.character %></p>
      </div>
    <% end %>

    <!-- Display 最後.png as the last slide -->
    <div class="swiper-slide flex flex-col justify-center items-center">
      <%= image_tag '最後.png', alt: "最後の画像", class: "swiper-image rounded-lg" %>
    </div>
  </div>


  <div class="flex justify-between w-full">
    <div class="inline-block">
      <div class="playback-speed-buttons mt-4">
        <button class="btn btn-sm bg-blue-100" data-speed="0.5">0.5x</button>
        <button class="btn btn-sm bg-blue-200" data-speed="0.75">0.75x</button>
        <button class="btn btn-sm bg-blue-300" data-speed="1">1x</button>
        <button class="btn btn-sm bg-blue-400" data-speed="1.25">1.25x</button>
        <button class="btn btn-sm bg-blue-500" data-speed="1.5">1.5x</button>
        <button class="btn btn-sm bg-blue-600" data-speed="2">2x</button>
      </div>
    </div>
    <div class="inline-block">
      <%= link_to "次の単語", next_word_hiragana_path(@hiragana), class: "btn bg-pink-500 text-white w-32 mt-2" %>
    </div>
  </div>



<script src="<%= asset_path 'hiraganas_show.js' %>"></script>
