<%= link_to "戻る", mypage_path, class: "link link-neutral", style: "float: left;" %>
<%= render 'sign_languages', sign_languages: @sign_languages %>
<%= render 'shared/swiper_styles' %>

<div id="answer-container" style="display: none;">
  <h2>答え</h2>
  <ul class="flex flex-row space-x-4">
    <% @sign_languages.each do |sign_language| %>
      <li><%= sign_language.character %></li>
    <% end %>
  </ul>
</div>

<button id="show-answer-button">答えを見る</button>
<%= link_to "次の問題", next_hiragana_path, data: { turbo: false } %>

<script src="<%= asset_path 'hiraganas_study.js' %>"></script>
