<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Yubimoji</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <!-- Swiper CSS -->
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</head>

<body class="flex flex-col min-h-screen">
  <header class="fixed top-0 left-0 w-full text-white py-4 px-2 z-10">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
  </header>
  <%= render 'shared/flash_message' %>

  <main class="flex-grow flex items-center justify-center px-5 mt-20">
    <div class="w-full max-w-3xl">
      <%= yield %>
    </div>
  </main>

  <%= render 'shared/footer' %>
</body>
</html>
